# Runs every start of display manager

# set mic vol 100%
pactl set-source-volume alsa_input.usb-USB_MICROPHONE_USB_MICROPHONE_20190809-00.analog-stereo 100%
pactl set-source-volume alsa_output.pci-0000_1e_00.3.analog-stereo.monitor 100%

# speakers are automuted by default
amixer -c 1 sset 'Auto-Mute Mode' Disabled
